<div class="col-12 flex-header">
    <h4>Welcome viBlog</h4>
    <div class="line"></div>
</div>
<div class="col-12">
    <div class="row">
        <div class="col-12">
            <div class="alert alert-info" role="alert">
                You can manage your blog by <strong><%= link_to "Sign in", new_user_session_path%></strong> the system.
            </div>
        </div>
    </div>
</div>

