<h1>Welcome viBlog</h1>
<hr />

<% if user_signed_in? %>
    <h2>HELLO!</h2>
    <% if current_user.following.count > 0 %>
        <p><%= link_to 'Click here', new_post_path %> to create a post or view your <%= link_to 'feed', feed_path %></p>
    <% else %>

    <% end %>

<% else %>
    <p>You can manage your blog by sign in the system.</p>
<% end %>