<div class="col-12 flex-header">
    <h4>New Post</h4>
    <div class="line"></div>
</div>

<div class="col-md-12">
  <div class="row">

    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <%= render 'form', post: @post %>
            </div>
        </div>
    </div>

    <div class="col-md-12 mt-4">
    <%= link_to 'Back', posts_path, class:"btn btn-success btn-radius", style: "float:right;" %>
    </div>

  </div>
</div>



