/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require social-share-button
 */

.gravatar {
    height: 30px;
    width: auto;
}

.gravatar-post {
    height: 30px;
    width: auto;
    border-radius: 50%;
}

.gravatar-profile {
    height: 100px;
    width: auto;
    border-radius: 50%;
}

.gravatar-user {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}


/* Post Page */
.post-content{
    padding:20px;
    font-size: 1.1em;
    line-height: 1.4em;
    text-align: justify;
}

/* Profile Page */
.user-box {
    text-align: center;
}

.post-box {

}

.post-info {
    color:rgb(151, 151, 151);
}

.info-item {
    display:flex;
    flex-direction: column;
}

.user-list{
    display: -webkit-flex;
    display: flex;   
    flex-direction: row;
    flex-wrap: wrap;
    flex-flow: row wrap;
}

/* Navbar */
.navbar-custom {
    background-color: #718b7f;
    height: 80px;
}

.navbar-light .nav-item .nav-link
{
    font-size: 1.2em;
    color: #FFFFFF;
}

.navbar-light .nav-item:hover .nav-link {
    color: #dbdbdb;
}

/* Helpers */
.profile-list{
    margin-top: 5px;
}

.btn-radius {
    font-size: small;
    border-radius: 30px;
}

.flex-header {
    display: flex;
}

.line {
    display: flex;
    flex-grow: 1;
    height: 1px;
    align-self: center;
    margin: 0 20px;
    background-color: grey;
}

.flex-header > h4 {
    color :#3b4f79;
}
